@model MovieDatabase.Models.Movie 

@{
    ViewData["Title"] = "Delete";
}


<form method="post" asp-action="Delete" enctype="multipart/form-data">
    <input asp-for="Id" hidden />
    <div class="border p-2 mt-4 mb-4">
        <div asp-validation-summary="All" class="text-danger"> </div>
        <div class="form-group row">
            <h2 class="text-info p-lg-3">Delete Movie</h2>
        </div>

        <div class="row">
            <div class="col-8">
                <div class="form-group row p-3">
                    <label for="image">Upload a cover image</label>
                    <input type="file" asp-for="Image" disabled class="form-control-file" id="exampleFormControlFile1">
                    
                </div>

                <div class="form-group row p-3">
                    <div class="col-4">
                        <label asp-for="Title"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Title" disabled class="form-control" />
                        
                    </div>
                </div>

                <div class="form-group row p-3">
                    <div class="col-4">
                        <label asp-for="Description"></label>
                    </div>
                    <div class="col-8">
                        <input type="text" style="" disabled asp-for="Description" class="form-control" />
                        
                    </div>
                </div>

                <div class="form-group row p-3">
                    <div class="col-4">
                        <label asp-for="Year"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Year" disabled class="form-control" />
                        
                    </div>
                </div>

                <div class="form-group row p-3">
                    <div class="col-4">
                        <label asp-for="Category"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="CategoryId" disabled class="form-control" />
                        
                    </div>
                </div>

                <div class="form-group row p-3">
                    <div class="col-4">
                        <label asp-for="Rating"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Rating" disabled class="form-control" />
                        
                    </div>

                </div>

                <div class="form-group row p-3">
                    <div class="col-8 offset-4 row">

                        <div class="col">
                            <input type="submit" class="btn btn-danger w-100" value="Delete" />
                        </div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-success w-100">
                                Go Back
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</form>