@model IEnumerable<MovieDatabase.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<partial name="_Notification" />


<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary" style="color:white!important;"> Movies Product List </h2>
        </div>
        <div class="col-6 text-sm-end">
           <a asp-controller="Product" asp-action="Upsert" class="btn btn-primary" >
           <i class="bi bi-plus-circle"></i> &nbsp; Add a new movie product
            </a>
        </div>
    </div>
</div>

<br/><br/>
<div class="container p-3">


    <table id="myTable" class="table table-bordered table-striped text-center" style="width: 100%">
        <thead >
            <tr class="table-primary"> 
                <th>Title</th>
                <th>Description</th>
                <th>Year</th>
                <th>Rating</th>
                <th>Category</th>
                <th>ListPrice</th>
                <th>Price</th>
                <th>Price50</th>
                <th>Price100</th>
                
            </tr>
        </thead>
        
    </table>
    
   </div>

 @section Scripts{
     <script src="~/js/product.js"></script>
 }


