@model Product

<form method="post" asp-action="Upsert" enctype="multipart/form-data">
    <input asp-for="Id" hidden />
    <div class="border p-2 mt-4 mb-4">
        <div asp-validation-summary="All" class="text-danger"> </div>
        <div class="form-group row">
            <h2 class="text-info p-lg-3">Edit product</h2>
        </div>

        <div class="row">
            <div class="col-8">
                <div class="form-group row p-3">
                    <div class="col-4">
                        <label asp-for="Title"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Title" class="form-control" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row p-3">
                    <div class="col-4">
                        <label asp-for="Description"></label>
                    </div>
                    <div class="col-8">
                        <textarea type="text" rows="3" asp-for="Description" class="form-control"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row p-3">
                    <div class="col-4">
                        <label asp-for="Year"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Year" class="form-control" />
                        <span asp-validation-for="Year" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row p-2">
                <div class="col-4 h5">
                   <label asp-for ="CategoryId"></label> 
                </div>
                <div class="col-8">
                <select asp-for="CategoryId" asp-items="ViewBag.CategoryList" class="form-select">
                    <option disabled selected>- Select Category -</option>
                </select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
                </div>
             </div>

                <div class="form-group row p-3">
                    <div class="col-4">
                        <label asp-for="Rating"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Rating" class="form-control" />
                        <span asp-validation-for="Rating" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row p-3">
                    <div class="col-4">
                        <label asp-for="ListPrice"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="ListPrice" class="form-control" />
                        <span asp-validation-for="ListPrice" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row p-3">
                    <div class="col-4">
                        <label asp-for="Price"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Price" class="form-control" />
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row p-3">
                    <div class="col-4">
                        <label asp-for="Price50"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Price50" class="form-control" />
                        <span asp-validation-for="Price50" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row p-3">
                    <div class="col-4">
                        <label asp-for="Price100"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Price100" class="form-control" />
                        <span asp-validation-for="Price100" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row p-3">
                    <div class="col-8 offset-4 row">

                        <div class="col">
                            <input type="submit" class="btn btn-info w-100" value="Update" />
                        </div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-success w-100">
                                Go Back
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</form>