@if(TempData["success"] != null)
{
    <div class="alert alert-dismissible alert-success mt-3">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    <strong>@TempData["success"]</strong>
    </div>
}
@if(TempData["error"] != null){
    <div class="alert alert-dismissible alert-primary mt-3">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    <strong>@TempData["error"]</strong>
    </div>
}