@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Movie Database Management</h1>
    <p>All the information on this page is provided from: <a href="https://www.imdb.com/">https://www.imdb.com</a></p>
    <img src="~/Images/Icons/transparent-movie.gif" width="200px" height="200px" />

</div>
